.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.circle-green{
    background-color: rgba(46, 204, 113, 1);
    animation: pulse-green 2s infinite;
}

.circle-red{
    background-color: rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red{
    0%{
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    50%{
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100%{
        transform: scale(0.9);
    }
}


@keyframes pulse-green{
    0%{
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(46, 204, 113, 0.7);
    }
    50%{
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(46, 204, 113, 0);
    }
    100%{
        transform: scale(0.9);
    }
}