        <ng-container *ngIf='(giftIdeas | async) as ideas else pending'>
          <div class="container px-4">
            <div class="row gy-3 gx-5">
              <ng-container *ngFor="let giftIdea of ideas">
                <mat-card class="card-content col col-lg-3 col-md-4 col-sm-8 col-12">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>
                        <a [routerLink]="['/gift', giftIdea.giftIdeaId]">{{giftIdea.name}}</a>
                    </mat-card-title>
                    <mat-card-subtitle>Autor: {{giftIdea.author}}</mat-card-subtitle>
                  </mat-card-header>
                  <img *ngIf="giftIdea.imageContentB64; else defaultImage" src="{{giftIdea.imageContentB64}}"/>
                  <ng-template #defaultImage>
                    <img class="img-fluid" mat-card-image src="/assets/images/gift.png" alt="Gift image"/>
                  </ng-template>

                  <mat-card-content>
                    <p>
                      {{giftIdea.description}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <p>Kategorie:</p>
                    <mat-chip-list aria-label="Fish selection">
                      <div *ngFor="let category of giftIdea.giftIdeaCategoryDTO">
                        <mat-chip>{{category.categoryDTO.name}}</mat-chip>
                      </div>
                    </mat-chip-list>

                  </mat-card-actions>
                  <span matBadge={{giftIdea.likesCounter}} matBadgeSize="large" matBadgeColor="primary" matBadgeOverlap="false">Polubienia</span>
                </mat-card>


              </ng-container>
            </div>
          </div>

        </ng-container>



<!-- Zamienić na switcha -->
  <ng-template #pending>
    <ng-container *ngIf="errorObject; then problem; else loading;"></ng-container>
  </ng-template>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <ng-template #problem>
    <ng-container *ngIf="errorObject.status==404; then temp404Error; else tempAnotherError;"></ng-container>
  </ng-template>

  <ng-template #temp404Error>
    <app-page-not-found></app-page-not-found>
  </ng-template>

  <ng-template #tempAnotherError>
        <app-another-error></app-another-error>
  </ng-template>

