        <ng-container *ngIf='(giftIdeas | async) as ideas else pending'>
          <div class="container px-4">
            <div class="row gy-3 gx-5">
              <ng-container *ngFor="let giftIdea of ideas">
                <div class="card col col-lg-3 col-md-4 col-sm-8 col-12">

                    <div>
                        <a class="card-title" [routerLink]="['/gift', giftIdea.giftIdeaId]"><h2 class="text-center">{{giftIdea.name}}</h2>
                          <img class="img-fluid" *ngIf="giftIdea.imageContentB64; else defaultImage" src="{{giftIdea.imageContentB64}}"/>
                          <ng-template #defaultImage>
                            <img class="img-fluid" mat-card-image src="/assets/images/gift.png" alt="Gift image"/>
                          </ng-template>
                        </a>
                    </div>

                    <div class="mt-2">
                      <mat-divider></mat-divider>
                    </div>

                  <div class ="rating">
                    <h3>Polubienia:</h3>
                    <span class="circle" [ngClass]="giftIdea.likesCounter > 0 ? 'rankingPositive' : giftIdea.likesCounter < 0 ? 'rankingNegative' : '' ">{{giftIdea.likesCounter}}</span>
                  </div>

                </div>


              </ng-container>
            </div>
          </div>

        </ng-container>



<!-- Zamienić na switcha -->
  <ng-template #pending>
    <ng-container *ngIf="errorObject; then problem; else loading;"></ng-container>
  </ng-template>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <ng-template #problem>
    <ng-container *ngIf="errorObject.status==404; then temp404Error; else tempAnotherError;"></ng-container>
  </ng-template>

  <ng-template #temp404Error>
    <app-page-not-found></app-page-not-found>
  </ng-template>

  <ng-template #tempAnotherError>
        <app-another-error></app-another-error>
  </ng-template>

