.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card-content {
    max-width: 400px;
    max-height: 500px;
  }

  a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

img{
    max-width: 300px;
}