  a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

.rating{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.circle{
    background: #e3e3e3;
        border-radius: 50%;
        font-size: 15px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #6e6e6e;
        display: inline-block;
        font-weight: bold;
        line-height: 45px;
        text-align: center;
        width: 45px;
        margin-bottom: 3px;
}

.imgContainer{
    height: 35vh;
}

#paginationSorting, #searchPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.matFormFilter{
    margin-right: 15px;
}