h5 {
  margin-bottom: 2px;
}

mat-list :not.last-child{
  margin-bottom: 15px;
}

.containerForm {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.matListContainer{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 90%;
}

#nickInput {
  width: 25%;
}

#contentInput {
  width: 55%;
}

#submitBtn {
  width: 15%;
}

mat-form-field {
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  #nickInput {
    width: 100%;
  }

  #contentInput {
    width: 100%;
  }

  #submitBtn {
    width: 100%;
  }
}
