<div class="containerForm">
  <form #commentForm="ngForm" (ngSubmit)="sendComment()">
    <mat-form-field id="nickInput" appearance="legacy">
      <mat-label>Twój nick</mat-label>
      <input matInput
      type="text" 
      [(ngModel)] ="commentToPost.commentAuthor"
      name="commentAuthor"
      />
    </mat-form-field>

    <mat-form-field id="contentInput" appearance="legacy">
      <mat-label>Komentarz</mat-label>
      <textarea  rows="5" matInput
      type="text" 
      [(ngModel)] ="commentToPost.commentContent"
      name="commentContent"
      > 
    </textarea>
    </mat-form-field>
    <button id="submitBtn" mat-raised-button color="primary" type="submit">Wyślij</button>
  </form>
</div>

<mat-list *ngFor="let comment of comments" role="list">
    <mat-list-item role="listitem">
      <div>
        <h5>{{comment.creationTime | date:'dd MM yyyy HH:mm'}}</h5>
        <i>{{comment.commentAuthor}}:</i>
        <span style="margin-left: 5px;">{{comment.commentContent}}</span>
      </div>

    </mat-list-item>
  </mat-list>
