<h3 style="text-align: center;">Dodaj komentarz</h3>
<div class="containerForm">
  <form #commentForm="ngForm" (ngSubmit)="sendComment(); commentForm.resetForm();">
    <mat-form-field id="nickInput" appearance="legacy">
      <mat-label>Twój nick</mat-label>
      <input matInput
      required
      type="text" 
      [(ngModel)] ="commentToPost.commentAuthor"
      name="commentAuthor"
      />
    </mat-form-field>

    <mat-form-field id="contentInput" appearance="legacy">
      <mat-label>Komentarz</mat-label>
      <textarea  rows="3" matInput
      required
      type="text" 
      [(ngModel)] ="commentToPost.commentContent"
      name="commentContent"
      > 
    </textarea>
    </mat-form-field>
    <button id="submitBtn" [disabled]="commentForm.invalid" mat-raised-button color="primary" type="submit">Wyślij</button>
  </form>
</div>

<ng-template #noComments>
  <h3 style="text-align: center;">Nie ma jeszcze żadnych komentarzy. Dodaj pierwszy!</h3>
</ng-template>

<ng-container *ngIf="comments.items.length > 0; else noComments">
  <div class="matListContainer">
    <mat-list *ngFor="let comment of comments.items;"  [ngClass]="{'last-child': last}" role="list">
      <mat-list-item role="listitem">
        <div>
          <h5>{{comment.creationTime | date:'dd MM yyyy HH:mm'}}</h5>
          <i>{{comment.commentAuthor}}:</i>
          <span style="margin-left: 5px;">{{comment.commentContent}}</span>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
    </mat-list>

    
<mat-paginator
[length]="comments.totalItems"
[pageSize]="comments.pageSize"
[pageIndex]="comments.currentPage - 1"
(page)="pageEvent = getComments($event)"
aria-label="Select page">
</mat-paginator>

  </div>

</ng-container>

