@import "../../../variables.scss";

h1{
    text-align: center;
}

#externalLink{
    margin-bottom: 8px;

    a{
        color:$base-color;
        font-size: 18px;
    }
}

mat-chip{
    a{
        color: rgba(0,0,0,.87);
    }
}


