<div *ngIf="singleGift; else pending">
  <h1 class="mat-display-2">{{singleGift.name}}</h1>
  <div class="container px-4">
    <div class="row ">
      <div class="col-md-6 col-sm-12"> 
        <img class="img-fluid" *ngIf="singleGift.imageContentB64; else defaultImage" src="{{singleGift.imageContentB64}}"/>
        <ng-template #defaultImage>
          <img class="img-fluid"  mat-card-image src="/assets/images/gift.png" alt="Gift image"/>
        </ng-template>
      </div>
      <div class="col-md-6"> 
        <h1 class="mat-display-5">Autor: {{singleGift.author}}</h1>
        <h5>Data dodania: {{singleGift.creationTime | date:'dd MM yyyy HH:mm'}}</h5>
        <div *ngIf="singleGift.externalUrl" id="externalLink">
          <a target="_blank" href="{{singleGift.externalUrl}}">{{singleGift.externalUrl}}</a>
        </div>
        <h3>{{singleGift.description}}</h3>
        <mat-divider></mat-divider>
        <p>Kategorie:</p>
        <mat-chip-list aria-label="Fish selection">
          <div *ngFor="let category of singleGift.categoriesDTO">
            <mat-chip>{{category.name}}</mat-chip>
          </div>
        </mat-chip-list>
        <mat-divider></mat-divider>

        <app-ranking (voteEmitt)="ChangeGiftIdeaRanking($event)" [likesCounter] ="singleGift.likesCounter"></app-ranking>

        <mat-divider></mat-divider>

        <app-share></app-share>

        
      </div>
    </div>
    </div>
    <mat-divider></mat-divider>

    <app-comments (refreshCommments)="onRefreshComments($event)" [giftIdeaId] = "singleGift.giftIdeaId" [comments] ="singleGift.commentsDTO"></app-comments>
   
</div>

  <ng-template #pending>
    <ng-container *ngIf="isLoading; then loading; else problem;"></ng-container>
  </ng-template>

  
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <ng-template #problem>
    <ng-container *ngIf="is404Error; then temp404Error; else tempAnotherError;"></ng-container>
  </ng-template>

  <ng-template #temp404Error>
    <app-page-not-found></app-page-not-found>
  </ng-template>

  <ng-template #tempAnotherError>
        <app-another-error></app-another-error>
  </ng-template>

  