<div *ngIf="singleGift; else pending">
  <h1 class="mat-display-2">{{singleGift.name}}</h1>
  <div class="container px-4">
    <div class="row ">
      <div class="col-md-6 col-sm-12"> 
        <img class="img-fluid" *ngIf="singleGift.imageContentB64; else defaultImage" src="{{singleGift.imageContentB64}}"/>
        <ng-template #defaultImage>
          <img class="img-fluid"  mat-card-image src="/assets/images/gift.png" alt="Gift image"/>
        </ng-template>
      </div>
      <div class="col-md-6"> 
        <h1 class="mat-display-5">Autor: {{singleGift.author}}</h1>
        <h2>{{singleGift.description}}</h2>
        <mat-divider></mat-divider>
        <p>Kategorie:</p>
        <mat-chip-list aria-label="Fish selection">
          <div *ngFor="let category of singleGift.giftIdeaCategoryDTO">
            <mat-chip>{{category.categoryDTO.name}}</mat-chip>
          </div>
        </mat-chip-list>
        <mat-divider></mat-divider>

        <app-ranking [likesCounter] ="singleGift.likesCounter"></app-ranking>






        <button mat-button>SHARE</button>

      </div>
    </div>
    </div>
    <mat-divider></mat-divider>
    <mat-list *ngFor="let comment of singleGift.commentsDTO" role="list">
      <mat-list-item role="listitem">
        <i>{{comment.commentAuthor}}:</i>
        <span style="margin-left: 5px;">{{comment.commentContent}}</span>
      </mat-list-item>
    </mat-list>
   
</div>

<!-- Zamienić na switcha -->
  <ng-template #pending>
    <ng-container *ngIf="isLoading; then loading; else problem;"></ng-container>
  </ng-template>

  
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <ng-template #problem>
    <ng-container *ngIf="is404Error; then temp404Error; else tempAnotherError;"></ng-container>
  </ng-template>

  <ng-template #temp404Error>
    <app-page-not-found></app-page-not-found>
  </ng-template>

  <ng-template #tempAnotherError>
        <app-another-error></app-another-error>
  </ng-template>

  