<h2 class="text-center">Podziel się swoim pomysłem z innymi i pomóż im wybrać najlepszy prezent! </h2>

<div class="containerForm">
  <form #giftForm="ngForm" (ngSubmit)="postGift();">
    <p>
      <mat-form-field id="nickInput" appearance="legacy">
        <mat-label>Nazwa pomysłu</mat-label>
        <input matInput required type="text" [(ngModel)]="giftToPost.name" name="name" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field id="contentInput" appearance="legacy">
        <mat-label>Opis</mat-label>
        <textarea rows="5" matInput required type="text" [(ngModel)]="giftToPost.description" name="description">
              </textarea>
      </mat-form-field>
    </p>

    <p>
        <mat-form-field id="contentInput" appearance="legacy">
          <mat-label>Autor (Twój nick)</mat-label>
          <input matInput required type="text" [(ngModel)]="giftToPost.author" name="author"/>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field id="contentInput" appearance="legacy">
          <mat-label>Odnośnik do zewnętrznej strony (Np. do sklepu)</mat-label>
          <input type="url" matInput [(ngModel)]="giftToPost.externalUrl" name="externalUrl"/>
        </mat-form-field>
    </p>

      <div class="flexContainer">
        <button type="button" mat-stroked-button *ngIf="imageSrc == null" mat-raised-button  (click)="imgFileInput.click();">Dodaj zdjęcie<fa-icon style="margin-left: 5px;" [icon]="faFileUpload"></fa-icon></button>
        <button type="button" color="warn" *ngIf="imageSrc" style="margin-left:5px;margin-bottom:5px;"  mat-raised-button  (click)="deleteImage();">Usuń zdjęcie<fa-icon style="margin-left:5px;" [icon]="faTrashAlt"></fa-icon></button>
        <div>
          <img [src]="imageSrc" *ngIf="imageSrc"  style="margin-left:20px;">
        </div>

        <input hidden accept="image/*" type="file" #imgFileInput (change)="prepareFile($event)"/>
      </div>


      <div style="text-align:center;">
        <button id="submitBtn" [disabled]="giftForm.invalid" mat-raised-button color="primary" style="margin-top:10px;" type="submit">Wyślij pomysł</button>
      </div>

  </form>

</div>