h1{
    text-align: center;
}

img{
    width: 60%;
    height: 60%;
    margin: 0 auto;
    display: block;
}

.dFlex{
    display: flex;
    flex-direction: column;
}

.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: inline-block;
}