@import '~ngx-sharebuttons/themes/circles/circles-dark-theme';
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

#globalContainer {
    min-height:100%;
    position:relative;
 }

 .mainContent{
    padding-bottom:60px;
 }

 mat-spinner {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.mat-chip-list-wrapper{
    margin-bottom: 5px !important;
}

#likeBtn > span.mat-button-wrapper, #dislikeeBtn > span.mat-button-wrapper{
    padding-right: 10px !important;
}

button[mat-raised-button], a[mat-raised-button]{
border-radius: 20px;
}

.rankingPositive{
    background: #3f51b5 !important;
    color: white !important;
}

.rankingNegative{
    background: #f44336 !important;
    color: white !important;
}

textarea {
    resize: none !important;
  }

.ok-snackbar {
  color: white;
}

.err-snackbar {
  color: #f44336;
}


.mat-snack-bar-container {
    text-align: center;
}

.mat-simple-snackbar {
    display: inline-block !important;
}

mat-list {
    overflow: auto;
}

.containerForm {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }