<h1>Nie masz pomysłu na prezent? Dobrze trafiłeś!</h1>
<br/>

<div class="containerForm">
    <form #giftSearchForm="ngForm" (ngSubmit)="searchGift();">
    
        <mat-form-field id="nameInput" appearance="legacy">
          <mat-label>Wpisz nazwę szukanego prezentu!</mat-label>
          <input rows="5" required matInput type="text" [(ngModel)]="filterModel.giftName" name="description" />
        </mat-form-field>
      
      <button id="submitBtn" [disabled]="giftSearchForm.invalid" mat-raised-button color="primary" type="submit">Szukaj <mat-icon aria-hidden="false" aria-label="Search icon">search</mat-icon></button>
    </form>
</div>

<br/>
<div class="containerForm">
    <a id="giftListBtn" mat-raised-button color="primary" routerLink="/gifts" ><fa-icon [icon]="faGifts"></fa-icon>   Lista prezentów</a>
    <a mat-raised-button color="primary" routerLink="/add"  ><fa-icon [icon]="faPlus"></fa-icon>   Dodaj prezent</a>
</div>


<h2>Best gifts to miejsce w którym znajdziesz setki pomysłow na prezenty. Jak wszyscy doskonale wiemy najważniejsza jest pamięć i intencje. Ale w parze z nimi może iść świetnie dobrany prezent 😊</h2>
<h2>Znajdziesz tu prezenty przygotowane na każdą okazję - urodziny, rocznice, święta i wiele innych! 🎂</h2>
<h2>Jeeli szukasz inspiracji na oryginalny prezent, sprawdź kategorie DIY i stwórz coś własnoręcznie 🔨</h2>
<h2>U nas najważniejsi są użytkownicy i społeczność która dzieli się swoimi pomysłami. Jeżeli masz pomysł na ciekawy prezent, nie wachaj się i dodaj go! 👪</h2>
<h2>Dzięki systemowi głosowania i komentarzy bez problemu odnajdziesz u nas dokładnie taki prezent jakiego szukasz i będziesz miał pewność wysokiej jakośći ⭐</h2>

<div class="containerForm">
  <img  src="../../assets/images/giftHomeGif.gif">
</div>

<!-- <img class="img-fluid" src="/assets/images/giftsMainPage.jpg"> -->

<br/>