<div id="ratingButtons">
    <div>
        <button [disabled]="clickedLike" id="likeBtn" (click)="Vote(true);" mat-raised-button color="primary"><fa-icon class="float-end" [icon]="faThumbsUp"></fa-icon></button>
        <div id="likeBtnTxt" class="BtnTxt">Dobry prezent</div>
    </div>
    <div id ="rating">
      <h2>Polubienia:</h2>
      <span class="circle" [class.animRankingCircle]="animCircle" [ngClass]="likesCounter > 0 ? 'rankingPositive' : likesCounter < 0 ? 'rankingNegative' : '' ">{{likesCounter}}</span>
    </div>
    <div>
        <button id="dislikeeBtn" [disabled]="clickedDislike" (click)="Vote(false);" mat-raised-button color="warn"><fa-icon class="float-end" [icon]="faThumbsDown"></fa-icon></button>
        <div id="dislikeBtnTxt" class="BtnTxt">Kiepski prezent</div>
    </div>
  </div>