<div id="ratingButtons">
    <div>
        <button id="likeBtn" mat-raised-button color="primary"><fa-icon class="float-end" [icon]="faThumbsUp"></fa-icon></button>
        <div id="likeBtnTxt" class="BtnTxt">Dobry prezent</div>
    </div>
    <div id ="rating2">
      <h2>Ranking:</h2>
      <span class="circle">{{likesCounter}}</span>
    </div>
    <div>
        <button id="dislikeeBtn" mat-raised-button color="warn"><fa-icon class="float-end" [icon]="faThumbsDown"></fa-icon></button>
        <div id="dislikeBtnTxt" class="BtnTxt">Kiepski prezent</div>
    </div>
  </div>